<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="resources">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.3.0/css/all.min.css}"/>
        <script defer src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
    </th:block>
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>create</h1>
            <form th:object="${fotoAlbum}" th:action="@{/admin/fotoalbum/create}" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">title</label>
                    <input type="text" class="form-control" th:field="*{title}" id="title" th:errorClass="is-invalid">
                    <div>
                        <ul>
                            <li th:each="err:${#fields.errors('title')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">description</label>
                    <input type="text" class="form-control" th:field="*{description}" id="description"
                           th:errorClass="is-invalid">
                    <div>
                        <ul>
                            <li th:each="err:${#fields.errors('description')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="imgUrl" class="form-label">img-url</label>
                    <input type="text" class="form-control" th:field="*{imgUrl}" id="imgUrl" th:errorClass="is-invalid">
                    <div>
                        <ul>
                            <li th:each="err:${#fields.errors('imgUrl')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div>

                    <div class="btn-group" role="group" aria-label="categories checkbox">
                        <div th:each="category : ${categories}">
                            <input type="checkbox" class="btn-check" th:id="|checkbox${category.id}|" autocomplete="off"
                                   th:value="${category.id}" name="categories">
                            <label class="btn btn-outline-primary" th:for="|checkbox${category.id}|"
                                   th:text="${category.name}"></label>
                        </div>
                    </div>
                    <div class="btn-group" role="group" aria-label="radio-visible">
                        <input type="radio" class="btn-check" name="visible" id="visible" autocomplete="off"
                               value="true" checked>
                        <label class="btn btn-outline-primary" for="visible">visible</label>

                        <input type="radio" class="btn-check" name="visible" id="not-visible" autocomplete="off"
                               value="false">
                        <label class="btn btn-outline-primary" for="not-visible">not visible</label>

                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
