<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/general :: resources}"></th:block>
    <title>Index</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col mt-5">
            <h1>Index</h1>
            <a href="/admin/fotoalbum/create">add</a>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">categories</th>
                    <th scope="col">Description</th>
                    <th scope="col">Img</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="foto : ${fotoList}">
                    <td scope="row" th:class="${foto.visible} ? text-dark : text-secondary"
                        th:text="${foto.title}">
                    </td>
                    <td>
                        <div th:each="category : ${foto.categories}">
                            <span th:text="${category.name}"></span>
                        </div>
                    </td>
                    <td th:text="${foto.description}"></td>
                    <td><img th:src="${foto.imgUrl}" alt="" style="height:50px"></td>
                    <td>
                        <a th:href="@{|/admin/fotoalbum/${foto.id}|}">show</a>
                        <a th:href="@{|/admin/fotoalbum/edit/${foto.id}|}">edit</a>
                        <a href="">delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>